// Primary Colors
$red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$cyan-graphic-design-text: hsl(167, 40%, 24%);
$blue-img-text: hsl(198, 62%, 26%);
$green-footer: hsl(168, 34%, 41%);

// Neutral Colors
$very-dark-blue: hsl(212, 27%, 19%);
$very-dark-grayish: hsl(213, 9%, 39%);
$dark-grayish: hsl(232, 10%, 55%);
$grayish: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Breakpoints
$mobile: 440px;
$desktop: 1440px;

// Font-families
$ff-barlow: "Barlow", sans-serif;
$ff-fraunces: "Fraunces", serif;
